.active-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -7.9rem;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 21rem;
    padding: 2rem;
    height: 1.5rem;
    gap: 0.5rem;
    color: #000000;
    
}

.tasks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    border: 1px solid  rgb(69, 160, 185);
    padding: 9px;
    width: 19.2rem;
    margin-left: -2.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px; 
    text-decoration: line-through;
    white-space: nowrap; 
}


.button-class {
    border: none;
    background-color: white;
    text-decoration: none;
    border-radius: 3px;
    background-color: none;
    cursor: pointer;
    
}

.active-header {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(69, 160, 185);
    font-weight: bold;
    margin-left: -2.5rem;
}