.app-menu {
    height: 100%;
    width: 14rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(69, 160, 185);
    overflow-x: hidden;
    padding-top: 20px;
    /* border-right: 1rem solid rgba(69, 160, 185, 0.404) ; */
    background-clip: padding-box;
    
}

.menu-positioning {
    display: flex;
    justify-content: center;
    align-items: center;
}