body {
    box-sizing: border-box;
    background-color: white;
    overflow: hidden
    
}

.app-container-inside {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 15rem;  
}


.app-positioning {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.7rem;
}



